<form action="/" method="post">
    <div class="container">
        <fieldset>
        <label for="username_input" class="hide">Enter a github username</label>
        <input id="username_input" name="userId" type="search" placeholder="Enter github username" required />
        <input type="submit" class="button button-outline" value="Who's Following?" />
    </fieldset>
    </div>
</form>