<section class="user-profile">
    <div class="container">
        <div class="row">
            <div class="column column-80">
                <h2>{{userData.name}}</h2>
                {{userData.followers}}
            </div>
            <div class="column column-20">
                <img src={{userData.avatarUrl}} alt={{userData.name}} />
            </div>
        </div>
    </div>
</section>