<h1>Who's Following Who?</h1>
<fieldset>
    <form action="/" method="post">
        <label for="username_input">Enter a github username</label>
        <input id="username_input" type="search" />
        <input type="submit" class="button" value="Who's Following?" />
    </form>
</fieldset>
