* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    min-height: inherit;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

input:focus,
input:active {
    outline: none;
}

fieldset {
    border-color: transparent;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}


.container {
    max-width: 1170px;
    padding: 0 36px;
    margin: auto;
}